body {
  margin: 0;
}

.tiles {
  width: 100svw;
  height: 100svh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tile-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: flex-center;
}

.tile {
  width: 96%;
  height: 96%;
  background-color: blue;
}